body {
    background-color: #222;
}

#container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#stage {
    background-color: #111;
    height: 600px;
    width: 800px;
    position: relative;
}

.bar {
    background-color: white;
    width: 30px;
    bottom: 0;
    position: absolute;
}